.analytics-card {
    border: 1px solid var(--app-shell-border-color);

    &__title {
        color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-gray-5));
    }

    &__change-label {
        color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-gray-6));
        ;
    }
}